body {
  background-color: gray;
}

header {
  background-color: white;
  font-size: 40pt;
  height: 100px;
  padding-top: 20px;
  text-align: center;
  color: black;
  margin-bottom: 50px;
}

h1 {
  color: white
}

ul {
  list-style-type: circle;
  list-style-position: inside;
  color: white;
}

li {
  border: solid 1px black;
}