*{
    padding: 0;
    margin: 0;
}

body {
    font-size: 62.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}